@media (min-width: 830px) {
  main {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /*Keys panel*/
  #buttonsContainer2 {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 220px;
    height: 220px;
    padding: 0 20px 0;
    margin: 0 32px 0 75px;
    border: 4px solid #353434;
    border-radius: 2%;
    background-color: rgb(128, 128, 128);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  }
  .buttons2 {
    font-size: 0.9rem;
  }

  .keyboard {
    padding: 4px;
    margin: 5px;
    font-size: 1rem;
    color: rgb(39, 37, 37);
  }
}

/*------------------------------------------------------------------*/

/*Tamaño medio*/
@media (min-width: 1150px) {
  #buttonsContainer {
    width: 35rem;
    height: 35rem;
  }
  #buttonsContainer2 {
    width: 280px;
    min-width: 262px;
    height: 280px;
    padding: 0 20px 0;
  }
}

/*------------------------------------------------------------------*/

/*Tamaño grande*/
@media (min-width: 1500px) {
  /*Pantalla*/
  .contenedorPantalla {
    margin-bottom: 190px;
    margin-left: 50px;
    width: 55vh;
    min-width: 300px;
    height: 30vh;
    background-color: #1d1d1e;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #525151;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 70px;
  }

  .contenidoPantalla {
    width: 70%;
    height: 70%;
    background-color: #111;
    overflow: auto;
    border: 2px solid #1c1b1b;
    box-shadow: 0 5px 10px rgba(44, 44, 44, 0.8);
  }

  .contenidoPantalla p {
    color: #fff;
    padding: 10px;
    margin: 0;
  }
}
