@font-face {
  font-family: "letrasHorror";
  src: url("../fonts/horrorcomicsdemoregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #d4d1d1;
  background-image: url(../img/telaraña.jpg);
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  line-height: 60px;
  height: 60px;
  border: 1px solid black;
  text-align: center;
  background-color: rgb(39, 37, 37);
}

h1 {
  color: rgb(217, 18, 18);
  font-family: "letrasHorror", seriff;
  font-size: 3rem;
  letter-spacing: 1.3rem;
}

p {
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3vh;
  font-style: oblique;
}

footer {
  padding: 50px;
  text-align: center;
}

/*Drum Pad*/
#buttonsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto 0;
  width: 25rem;
  height: 25rem;
  background-color: rgb(46, 45, 45);
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

#buttonsContainer > button {
  margin: 7px;
  background-color: #555;
  border: 3px solid #636262;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.2s;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3),
    0 5px 10px rgba(166, 159, 159, 0.3);
  cursor: url("../img/556.png"), auto;
}

#buttonsContainer > button:active {
  cursor: url("../img/30p.png"), auto;
}

#buttonsContainer > button:hover {
  background-color: #777;
}

/*Imágenes de terror*/
.oculto {
  position: absolute;
  top: 600px;
  left: 85px;
  display: none; /*Caracuero*/
  width: 200px;
}
.oculto2 {
  position: absolute;
  top: 600px;
  left: 85px;
  display: none; /*Ataud*/
  width: 200px;
}
.oculto3 {
  position: absolute;
  top: 125px;
  left: 105px;
  display: none; /*Calavera*/
  width: 100px;
}

/* Rec, stop and play buttons*/
.controlContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.controlContainer > button {
  margin: 2px;
  padding: 10px 20px;
  width: 80px;
  background-color: #777;
  color: white;
  border: 2px solid #999;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: -5px 0 6px rgba(18, 18, 18, 0.3), 0 5px 10px rgba(13, 13, 13, 1);
}

.controlContainer > button:hover {
  background-color: #555;
}
.controlContainer > button {
  cursor: url("../img/icoerr-64.png"), auto;
}

/* Keys panel */
#buttonsContainer2 {
  display: none;
}

/*Pantalla*/
.contenedorPantalla {
  display: none;
}
